/* font-family: 'Amatic SC', cursive;      400, 700      title
   font-family: 'Jost', sans-serif;        400           nav also
   font-family: 'Poiret One', cursive;     400           text */

body {
    margin: 0;
    padding: 0;
    color: #808080;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Poiret One', cursive;
    background-color: #f5f5f5;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container_small {
    width: 100%;
    max-width: 800px;
}

/* Phone */
.call {
    text-align: center;
    padding-top: 20px;
}

.phone a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 5px 15px;
    transition: background-color 0.3s linear;
}

.phone a:hover {
    background-color: #f5f5f5;
}

.phone_number {
    text-decoration: underline;
}

/* Navigation */
.nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.nav_item a {
    color: #808080;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .2s linear;
    font-family: 'Jost', sans-serif;
}

.nav_item_active a, .nav_item a:hover {
    color: #ffdd00;
}

/* Section */
.section {
    text-align: center;
}

.section_title {
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

/* Buttons */
.gallery_buttons {
    margin: 20px 0;
}

.gallery_buttons .container {
    display: flex;
    justify-content: center;
}

.gallery_btn_item {
    margin: 0 15px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #fff;
    transition: background-color 0.3s linear;
}

.gallery_btn_item:hover {
    background-color: #ffdd00;
}

.gallery_btn {
    color: #000;
    padding: 5px 10px;
}

/* Gallery */
.gallery_row {
    display: flex;
    justify-content: space-between;
}

.gallery_item {
    margin: 10px;
    overflow: hidden;
    width: 33.3333%;
}

.gallery_item img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    display: none;
}

.gallery_item .active {
    display: block;
}

/* Footer */
.footer {
    margin: 50px 0 20px 0;
}

.footer_social {
    display: flex;
    justify-content: center;
}

.footer_social_icon {
    font-size: 43px;
    margin: 0 25px;
}

.tel, .wa{
    color: #43d854;
}

.tg {
    color: #0088cc;
}

/* Copyright */
.copyright {
    background-color: #5b5858;
    padding: 10px 0;
}

.copyright .container {
    text-align: center;
    color: #fff;
}